In [1]:
# Importamos las librerías
import mysql.connector
import pandas as pd

In [2]:
# Importamos los datos
df=pd.read_csv('Accidentes_tratado.csv')

In [3]:
# Establecemos la conexión a MySQL
conexion = mysql.connector.connect(
    host='localhost',
    user='root',
    password='root1234'
)

In [4]:
# Instanciamos el cursor 
cursor = conexion.cursor()

In [5]:
#creamos la base de datos 'Accidentes_aviones' si no existe
cursor.execute("CREATE DATABASE IF NOT EXISTS Accidentes_aviones;")
cursor.execute("USE Accidentes_aviones;")

In [6]:
# Creamos la tabla 'Accidentes_aviones'
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Accidentes_aviones (
        date DATE,
        time TIME,
        location VARCHAR(250),
        airline_operator VARCHAR(250),
        route VARCHAR(250),
        aircraft_type VARCHAR(250),
        all_aboard INT,
        passengers_aboard INT,
        crew_aboard INT,
        total_fatalities INT,
        passengers_fatalities INT,
        crew_fatalities INT,
        summary VARCHAR(5000),
        year INT,
        date_time DATE,
        country VARCHAR(150),
        city VARCHAR(150),
        accident_on_water VARCHAR(150),
        category VARCHAR(150),
        survivors INT,
        survival_rate FLOAT
    )
""")

In [7]:
# Definimos los datos a utilizar
data = df.to_dict('records')

In [8]:
# Escribimos la consulta SQL para insertar un solo registro
insert_query = """
    INSERT INTO Accidentes_aviones
    (date, time, location, airline_operator, route, aircraft_type, all_aboard, passengers_aboard, crew_aboard, total_fatalities, passengers_fatalities, crew_fatalities, summary, year,date_time, country, city, accident_on_water, category, survivors,survival_rate)
    VALUES
    (%(date)s, %(time)s, %(location)s, %(airline_operator)s, %(route)s, %(aircraft_type)s, %(all_aboard)s, %(passengers_aboard)s, %(crew_aboard)s, %(total_fatalities)s, %(passenger_fatalities)s, %(crew_fatalities)s, %(summary)s, %(year)s, %(date_time)s, %(country)s, %(city)s, %(accident_on_water)s, %(category)s, %(survivors)s, %(survival_rate)s)
"""

In [9]:
# Ejecutamos la inserción de datos para cada registro
for row in data:
    row = {key: None if pd.isna(value) else value for key, value in row.items()}
    cursor.execute(insert_query, row)

In [10]:
# Confirmamos los cambios en la base de datos
conexion.commit()

In [11]:
#Verificamos que se hayan cargado correctamente los valores
cursor.execute('select * from Accidentes_aviones order by year limit 5;')
for a in cursor:
    print(a)

(datetime.date(1908, 9, 17), datetime.timedelta(seconds=62280), 'Fort Myer,Virginia, United States', 'Military - U.S. Army', 'Demonstration', 'Wright Flyer III', 2, 1, 1, 1, 1, 0, 'During a demonstration flight, a U.S. Army flyer flown by Orville Wright nose-dived into the ground from a height of approximately 75 feet, killing Lt. Thomas E. Selfridge, 26, who was a passenger. This was the first recorded airplane fatality in history.  One of two propellers separated in flight, tearing loose the wires bracing the rudder and causing the loss of control of the aircraft.  Orville Wright suffered broken ribs, pelvis and a leg.  Selfridge suffered a crushed skull and died a short time later.', 1908, datetime.date(1908, 9, 17), 'United States', 'Fort Myer,Virginia', '0', 'military', 1, 50.0)
(datetime.date(1908, 9, 17), datetime.timedelta(seconds=62280), 'Fort Myer,Virginia, United States', 'Military - U.S. Army', 'Demonstration', 'Wright Flyer III', 2, 1, 1, 1, 1, 0, 'During a demonstration flight, a U.S. Army flyer flown by Orville Wright nose-dived into the ground from a height of approximately 75 feet, killing Lt. Thomas E. Selfridge, 26, who was a passenger. This was the first recorded airplane fatality in history.  One of two propellers separated in flight, tearing loose the wires bracing the rudder and causing the loss of control of the aircraft.  Orville Wright suffered broken ribs, pelvis and a leg.  Selfridge suffered a crushed skull and died a short time later.', 1908, datetime.date(1908, 9, 17), 'United States', 'Fort Myer,Virginia', '0', 'military', 1, 50.0)
(datetime.date(1908, 9, 17), datetime.timedelta(seconds=62280), 'Fort Myer,Virginia, United States', 'Military - U.S. Army', 'Demonstration', 'Wright Flyer III', 2, 1, 1, 1, 1, 0, 'During a demonstration flight, a U.S. Army flyer flown by Orville Wright nose-dived into the ground from a height of approximately 75 feet, killing Lt. Thomas E. Selfridge, 26, who was a passenger. This was the first recorded airplane fatality in history.  One of two propellers separated in flight, tearing loose the wires bracing the rudder and causing the loss of control of the aircraft.  Orville Wright suffered broken ribs, pelvis and a leg.  Selfridge suffered a crushed skull and died a short time later.', 1908, datetime.date(1908, 9, 17), 'United States', 'Fort Myer,Virginia', '0', 'military', 1, 50.0)
(datetime.date(1908, 9, 17), datetime.timedelta(seconds=62280), 'Fort Myer,Virginia, United States', 'Military - U.S. Army', 'Demonstration', 'Wright Flyer III', 2, 1, 1, 1, 1, 0, 'During a demonstration flight, a U.S. Army flyer flown by Orville Wright nose-dived into the ground from a height of approximately 75 feet, killing Lt. Thomas E. Selfridge, 26, who was a passenger. This was the first recorded airplane fatality in history.  One of two propellers separated in flight, tearing loose the wires bracing the rudder and causing the loss of control of the aircraft.  Orville Wright suffered broken ribs, pelvis and a leg.  Selfridge suffered a crushed skull and died a short time later.', 1908, datetime.date(1908, 9, 17), 'United States', 'Fort Myer,Virginia', '0', 'military', 1, 50.0)
(datetime.date(1908, 9, 17), datetime.timedelta(seconds=62280), 'Fort Myer,Virginia, United States', 'Military - U.S. Army', 'Demonstration', 'Wright Flyer III', 2, 1, 1, 1, 1, 0, 'During a demonstration flight, a U.S. Army flyer flown by Orville Wright nose-dived into the ground from a height of approximately 75 feet, killing Lt. Thomas E. Selfridge, 26, who was a passenger. This was the first recorded airplane fatality in history.  One of two propellers separated in flight, tearing loose the wires bracing the rudder and causing the loss of control of the aircraft.  Orville Wright suffered broken ribs, pelvis and a leg.  Selfridge suffered a crushed skull and died a short time later.', 1908, datetime.date(1908, 9, 17), 'United States', 'Fort Myer,Virginia', '0', 'military', 1, 50.0)

In [12]:
# Cerrar la conexión
cursor.close()
conexion.close()